
body {
    margin: 10px;
}
pre {
    background-color: #ccc;
    white-space: pre-wrap;
    padding: 10px;
}
canvas {
    width: 100%;
    background: white;
}
.container {
    width: 568px;
    height: 320px;
    border: 1px solid black;
    overflow: hidden;
}
