
body {
    margin: 10px;
    padding: 0 0 50px 0;
    font-size: 16px;
    line-height: 1.2em;
    font-family: sans-serif;
    text-align: justify;
}
a, a:hover, a:active, a:visited {
    color: blue;
}
pre {
    background-color: #ccc;
    /*white-space: pre-wrap;*/
    padding: 10px;
    overflow-x: auto;
}
canvas {
    width: 100%;
    background: white;
}
img {
    width: 100%;
}

.container {
    margin-top: 20px;
    height: calc(54vw);
    border-radius: 3px;
    box-shadow: 0 0 3px gray;
    overflow: hidden;
    max-height: 320px;
}

.container-legend {
    margin-top: 5px;
}

.container, .container-legend {
    width: 100%;
    max-width: 568px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination > * {

}

@media screen and (min-width: 568px) {
    img {
        width: auto;
        margin: auto;
        display: block;
    }
    .container {
        margin: 20px auto 0 auto;
    }
    .container-legend {
        margin: 5px auto;
    }
}

@media screen and (min-width: 1000px) {
    body {
        margin: auto;
        width: 960px;
    }
}
